<!-- register.component.html -->

<div class="container m-2">
  <h2 class="text-center m-5">Registro</h2>
  <form [formGroup]="registerForm" class="form" (ngSubmit)="crearUsuario()">
    <!-- Common Fields -->
    <div class="form-row">
      <div class="form-group col-md-6 m-2">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" formControlName="Nombre" class="form-control" required>
        <div *ngIf="registerForm.get('Nombre')?.invalid && registerForm.get('Nombre')?.touched">
          <small class="text-danger">Nombre es requerido.</small>
        </div>
      </div>
  
      <div class="form-group col-md-6 m-2">
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" formControlName="Apellido" class="form-control" required>
        <div *ngIf="registerForm.get('Apellido')?.invalid && registerForm.get('Apellido')?.touched">
          <small class="text-danger">Apellido es requerido.</small>
        </div>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-group col-md-6 m-2">
        <label for="edad">Edad</label>
        <input type="number" id="edad" formControlName="Edad" class="form-control" required>
        <div *ngIf="registerForm.get('Edad')?.invalid && registerForm.get('Edad')?.touched">
          <small class="text-danger">Edad es requerida.</small>
        </div>
      </div>
  
      <div class="form-group col-md-6 m-2">
        <label for="dni">DNI</label>
        <input type="text" id="dni" formControlName="Dni" class="form-control" required>
        <div *ngIf="registerForm.get('Dni')?.invalid && registerForm.get('Dni')?.touched">
          <small class="text-danger">DNI es requerido.</small>
        </div>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-group col-md-6 m-2">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="Email" class="form-control" required>
        <div *ngIf="registerForm.get('Email')?.invalid && registerForm.get('Email')?.touched">
          <small class="text-danger">Email es requerido.</small>
        </div>
      </div>
  
      <div class="form-group col-md-6 m-2">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="Password" class="form-control" required>
        <div *ngIf="registerForm.get('Password')?.invalid && registerForm.get('Password')?.touched">
          <small class="text-danger">Password es requerido.</small>
        </div>
      </div>
    </div>
  
    <!-- Paciente Specific Fields -->
    <div *ngIf="this.rol == 'paciente'" class="form-row">
      <div class="form-group col-md-6 m-2">
        <label for="obraSocial">Obra Social</label>
        <input type="text" id="obraSocial" formControlName="ObraSocial" class="form-control" required>
        <div *ngIf="registerForm.get('ObraSocial')?.invalid && registerForm.get('ObraSocial')?.touched">
          <small class="text-danger">Obra Social es requerida.</small>
        </div>
      </div>
    </div>
  
    <div *ngIf="this.rol == 'especialista'" class="form-row">
      <div class="form-group col-md-6 m-2">
        <label for="especialidad">Especialidad</label>
        <select multiple [(ngModel)]="especialidadesSeleccionadas" [ngModelOptions]="{standalone: true}" class="form-control" (ngModelChange)="onEspecialidadChange()">
          <option *ngFor="let especialidad of especialidades" [value]="especialidad">{{ especialidad }}</option>
        </select>
      </div>
      <div class="form-group col-md-6 m-2" *ngIf="mostrarCampoNuevaEspecialidad">
        <label for="nuevaEspecialidad">Agregar nueva especialidad</label>
        <input id="nuevaEspecialidad" [(ngModel)]="nuevaEspecialidad" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Nueva especialidad">
        <button type="button" class="btn btn-primary mt-2" (click)="agregarEspecialidad()">Agregar Especialidad</button>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-group col-md-6 m-2">
        <label for="imagen">Imagen de Perfil</label>
        <input type="file" id="imagen" (change)="onFileSelected($event)" formControlName="Imagen" class="form-control" required>
        <div *ngIf="registerForm.get('Imagen')?.invalid && registerForm.get('Imagen')?.touched">
          <small class="text-danger">Imagen de perfil es requerida.</small>
        </div>
      </div>
      <div *ngIf="this.rol == 'especialista'" class="form-grou  p col-md-6 m-2">
        <label for="imagen2">Segunda imagen </label>
        <input type="file" id="imagen2" (change)="onFile2Selected($event)" formControlName="Imagen2" class="form-control" required>
        <div *ngIf="registerForm.get('Imagen2')?.invalid && registerForm.get('Imagen2')?.touched">
          <small class="text-danger">Segunda imagen de perfil es requerida.</small>
        </div>
      </div>
    </div>
    <ngx-recaptcha2 #captchaElem
      [siteKey]="siteKey"
      formControlName="recaptcha">
    </ngx-recaptcha2>
    <div class="form-row">
 
      <div class="form-group col-md-12 text-center mt-3">
        @if(!loading){
          <button type="submit" class="btn btn-primary">Registrar</button> 
        }@else {
          <spinner></spinner>
        }
      </div>
    </div>
  </form>
</div>
