
<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="avatar-container">
        <img class="avatar-image" src="{{usuario.Imagen}}" alt="Avatar">
      </div>  
      <h5 class="card-title">{{ usuario.Nombre }} {{ usuario.Apellido }}</h5>
    </div>
    
    <div class="user-details">
 
      <p class="card-text"><strong>DNI:</strong> {{ usuario.Dni }}</p>
      <p class="card-text"><strong>Email:</strong> {{ usuario.Email }}</p>
      <p class="card-text"><strong>Rol:</strong> {{ usuario.Rol }}</p>
      
      @if(vistaAdmin){
        <div *ngIf="usuario.Rol == 'especialista'">
          <p class="card-text" >
            <strong>Estado:</strong> {{ usuario.Autorizado ? 'Habilitado' : 'Inhabilitado' }}
          </p>
          <hr>
          <button 
            class="btn btn-sm"
            [ngClass]="{'btn-danger': usuario.Autorizado, 'btn-success': !usuario.Autorizado}"
            (click)="toggleAccess()">
            {{ usuario.Autorizado ? 'Inhabilitar' : 'Habilitar' }}
          </button>
        
        </div>
        <hr>
        <div *ngIf="usuario.Rol == 'paciente'" class="container-botones">
          <button class="btn btn-sm btn-primary" (click)="accion('historial')">
            Historial clinico
          </button>
          <button class="btn btn-sm btn-primary " (click)="accion('descargaExcel')">
            Descarga excel
          </button>
        </div>
      }
    </div>
  </div>
</div>
