.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-checks{
    display: flex;
    
}


.m-3 {
    margin: 1rem; 
}


.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checkbox-label input[type="checkbox"]:checked {
    accent-color: #007bff;
}
