<div class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>{{ user ? 'Editar Usuario' : 'Agregar Usuario' }}</h2>
      <form [formGroup]="userForm" (ngSubmit)="saveUser()">
        <label for="firstName">Nombre:</label>
        <input id="firstName" formControlName="firstName" type="text">
  
        <label for="lastName">Apellido:</label>
        <input id="lastName" formControlName="lastName" type="text">
  
        <label for="age">Edad:</label>
        <input id="age" formControlName="age" type="number">
  
        <label for="dni">DNI:</label>
        <input id="dni" formControlName="dni" type="text">
  
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email">
  
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password">
  
        <label for="role">Perfil:</label>
        <select id="role" formControlName="role">
          <option value="Administrador">Administrador</option>
          <option value="Especialista">Especialista</option>
        </select>
  
        <label for="profileImage">Imagen de perfil:</label>
        <input id="profileImage" formControlName="profileImage" type="text">
  
        <button type="submit">{{ user ? 'Guardar Cambios' : 'Agregar Usuario' }}</button>
      </form>
    </div>
  </div>
  