.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(23, 43, 155, 0.9); 
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: var(--secondary-color);
  text-align: center; 
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--secondary-color);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--secondary-color);
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 12px;
}

.login-box form a {
  display: inline-block;
  color: var(--highlight-color);
  font-size: 12px;
  letter-spacing: 2px;
}

.custom-white-background-container {
  background-color: var(--secondary-color) !important;
}
