<div @slideInOutAlt class="container">
  <div class="mt-5">
    <p class="">{{ date | currentDate }}</p>
      <h1 class="heading">Clínica Médica</h1>
      <p class="description">
        Bienvenido a nuestra clínica médica. Aquí podrás solicitar turnos, ver tu perfil y tus turnos agendados.
      </p>
      
  </div>
  <div>
        <h2 class="text-3xl md:text-4xl font-bold mb-4">Acerca de Nosotros</h2>
        <p class="description">
          Clínica Médica fue fundada en 2010 con el objetivo de brindar atención médica de excelencia a nuestra
          comunidad. Contamos con un equipo de médicos altamente capacitados y experimentados, quienes se
          esfuerzan por ofrecer un servicio personalizado y atento a las necesidades de cada paciente.
        </p>
        <p class="description">
          Nuestras instalaciones cuentan con los más modernos equipos médicos y tecnología de vanguardia, lo que
          nos permite diagnosticar y tratar una amplia variedad de condiciones de salud. Nos enorgullece ser
          reconocidos por nuestro compromiso con la calidad y la seguridad de nuestros pacientes.
        </p>
   </div>
 
  <div class="grid container-feature">
    <div class="feature">
      <h2>Solicitar Turnos</h2>
      <p>Agenda citas médicas con nuestros especialistas.</p>
      <a href="misTurnos/solicitarTurno" class="button">Solicitar Turno</a>
    </div>
    <div class="feature">
      <h2>Mi Perfil</h2>
      <p>Revisa y edita tu información personal.</p>
      <a href="miPerfil"  class="button">Ver Perfil</a>
    </div>
    <div class="feature">
      <h2>Mis Turnos</h2>
      <p>Consulta el historial de tus citas médicas.</p>
      <a href="misTurnos" class="button">Ver Turnos</a>
    </div>
  </div>
  <hr class="separator" />
</div>
